body {
    display: flex;
    flex-direction: column;

    background-color: #1f2937;
    color: white;

    padding-left: 15%;
    padding-right: 15%;
}

.header {
    display: flex;
}

.logo {
    font-size: larger;
    font-weight: bolder;
}

ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
    margin-left: auto;
}

a {
    color: white;
    text-decoration: none;
}

.one {
    display: flex;
    margin-top: 80px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.This {
    font-size: 48px;
    margin-top: 0;
    font-weight: bolder;
    margin-bottom: 0;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    background: #3882f6;
    border: 1px solid#ddd;

    width: 100px;
}

.picture {
    margin-left: auto;
}

.pic {
    width: 600px;
    height: auto;
}

.two {
    display: flex;
    justify-content: center;

    background: white;
    margin-left: -600px;
    margin-right: -600px;
    margin-top: 20px;

    height: 600px;
}

.info {
    margin-top: 40px;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}