/* body - container */

body {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header - Nav */

nav {
    display: flex;
    align-items: center;

    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header-logo img {
    width: 80px;
}

ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 24px;
    font-size: 26px;
    width: auto;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

li a:hover {
    background-color: rgb(0, 255, 234);
    color: rgb(0, 0, 0);
}
/* ct-hero */

.ct-hero {
    background-image: url(image/background.png);
    width: 100%;
    height: 900px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -94px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 200px;
    margin-right: 200px;
}

.hero-text {
    margin-right: 20px;
    color: white;
}

.ht-main {
    font-size: 46px;
    padding: 0;
    margin-bottom: 0px;
}

.ht-content {
    font-size: 24px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    color: rgb(219, 111, 196);
    background: #ffffff;
    border: 1px solid rgb(144, 226, 226);
    width: 100px;
}

.hero-img img {
    height: 300px;
    box-shadow: 0px 0px 20px rgb(119, 119, 119);
}

/* Photo - content */

.ct-photo {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
}

.ctp-info {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 56px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ctp-box {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 200px;
    font-size: 16px;
}

.box-image img{
    width: 250px;
    border: 3px solid #7180cc;
    border-radius: 50%;
    box-shadow: 0px 0px 60px #ce9ab0;
}

.box-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Quote */

.ct-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    height: 600px;
    background-image: url(image/Color_grade.png);

}

.ctq-quote {
    font-family: Times;
    font-size: 56px;
    font-style: italic;
    color: white;
    margin-bottom: 0px;
    margin-left: 200px;
    margin-right: 200px;
}

.ctq-author {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Times new roman';
    color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-left: auto;
    margin-right: 240px;
}

/* Call to Action */

.ct-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.cta-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 900px; 
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 20px #ce9ab0;
    border-radius: 30px;
    background-image: url(image/background.png);
}

.cta-sub-box {
    display: flex;
    flex-direction: column;
}

.ctab-action {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.ctab-sub-action {
    margin: 0;
    font-size: 18px;
    color: white;
}

.cta-button {
    margin-left: auto;
    margin-right: 60px;
}

/* Footer */

.ct-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-image: url(image/background.png);
}

.ctf-footer {
    display: flex;
    font-size: 18px;
    color: white;
    align-items: center;
}