/* body - container */

body {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header - Nav */

.ct-header {
    background-color: white;
}

nav {
    display: flex;
    align-items: center;

    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header-logo img {
    width: 80px;
}

ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 24px;
    font-size: 26px;
    width: auto;
}

a {
    text-decoration: none;
    color: rgb(201, 141, 219);
}

li a:hover {
    background-color: rgb(208, 243, 240);
    color: rgb(201, 141, 219);
}
/* ct-hero */

.ct-hero {
    background-image: url(image/background.png);
    width: 100%;
    height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 200px;
    margin-right: 200px;
}

.hero-text {
    margin-right: 20px;
    color: white;
}

.ht-main {
    font-size: 46px;
    padding: 0;
    margin-bottom: 0px;
}

.ht-content {
    font-size: 24px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    color: rgb(219, 111, 196);
    background: #ffffff;
    border: 1px solid rgb(144, 226, 226);
    width: 100px;
}

.hero-img img {
    height: 300px;
    box-shadow: 0px 0px 20px rgb(119, 119, 119);
}

/* Photo - content */

.ct-photo {
    display: flex;
    flex-direction: column;
    height: 600px;
}

.ctp-info {
    display: flex;
    align-self: center;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 56px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ctp-box {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 10px;
    font-size: 24px;
}

.box-image img{
    height: 200px;
    border: 3px solid #7180cc;
    border-radius: 50%;
    box-shadow: 0px 0px 60px #ce9ab0;
}

.box-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Quote */

.ct-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    height: 600px;
    background-color: rgb(208, 243, 240);

}

.ctq-quote {
    font-size: 64px;
    font-style: italic;
    margin-bottom: 0px;
}

.ctq-author {
    font-size: 48px;
    margin-top: 0px;
    margin-left: auto;
}